@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1262px;
  margin: 0 auto;
}
.box{
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  margin-top: 30px;
}
/* .item{

} */
.title{
  margin-top: 10px;
  margin-bottom: 10px;
};
.description{
  margin-bottom: 10px;
}
.path-title{
  margin-top: 50px;
}
.path-link{
  color: black;

}
.path-link:hover{
  color: #40BFFF;
  cursor: pointer;
  
}
.cart-item-price{
  color: red;
}


